.textgimn1
  { position: absolute;
    width: 1300px; /* Ширина контейнера */
    top: 100px;
    word-wrap: break-word; /* Разрешаем перенос длинных слов */
    left: 350px ;
    font-size: 20px;
} 
.textgimn2
  { position: absolute;
    width: 1300px; /* Ширина контейнера */
    top: 250px;
    word-wrap: break-word; /* Разрешаем перенос длинных слов */
    left: 350px ;
    font-size: 20px;
} 
.textgimn3
  { position: absolute;
    width: 350px; /* Ширина контейнера */
    top: 350px;
    word-wrap: break-word; /* Разрешаем перенос длинных слов */
    left: 350px ;
    font-size: 20px;
} 
.textgimn4
  { position: absolute;
    width: 1300px; /* Ширина контейнера */
    top: 550px;
    word-wrap: break-word; /* Разрешаем перенос длинных слов */
    left: 350px ;
    font-size: 20px;
} 
.textgimn5
  { position: absolute;
    width: 540px; /* Ширина контейнера */
    top: 650px;
    word-wrap: break-word; /* Разрешаем перенос длинных слов */
    left: 350px ;
    font-size: 20px;
} 
.textgimn6
  { position: absolute;
    width: 540px; /* Ширина контейнера */
    top: 680px;
    word-wrap: break-word; /* Разрешаем перенос длинных слов */
    left: 350px ;
    font-size: 20px;
} 
.textgimn7
  { position: absolute;
    width: 540px; /* Ширина контейнера */
    top: 710px;
    word-wrap: break-word; /* Разрешаем перенос длинных слов */
    left: 350px ;
    font-size: 20px;
} 
.textgimn8
  { position: absolute;
    width: 540px; /* Ширина контейнера */
    top: 740px;
    word-wrap: break-word; /* Разрешаем перенос длинных слов */
    left: 350px ;
    font-size: 20px;
} 
.textgimn9
  { position: absolute;
    width: 540px; /* Ширина контейнера */
    top: 830px;
    word-wrap: break-word; /* Разрешаем перенос длинных слов */
    left: 350px ;
    font-size: 20px;
} 
.textgimn10
  { position: absolute;
    width: 540px; /* Ширина контейнера */
    top: 920px;
    word-wrap: break-word; /* Разрешаем перенос длинных слов */
    left: 350px ;
    font-size: 20px;
} 
.textgimn11
  { position: absolute;
    width: 540px; /* Ширина контейнера */
    top: 950px;
    word-wrap: break-word; /* Разрешаем перенос длинных слов */
    left: 350px ;
    font-size: 20px;
} 
.textgimn12
  { position: absolute;
    width: 540px; /* Ширина контейнера */
    top: 980px;
    word-wrap: break-word; /* Разрешаем перенос длинных слов */
    left: 350px ;
    font-size: 20px;
} 
.textgimn13
  { position: absolute;
    width: 540px; /* Ширина контейнера */
    top: 1010px;
    word-wrap: break-word; /* Разрешаем перенос длинных слов */
    left: 350px ;
    font-size: 20px;
} 

.textgimn14
  { position: absolute;
    width: 540px; /* Ширина контейнера */
    top: 1100px;
    word-wrap: break-word; /* Разрешаем перенос длинных слов */
    left: 350px ;
    font-size: 20px;
} 
.textgimn15
  { position: absolute;
    width: 540px; /* Ширина контейнера */
    top: 1190px;
    word-wrap: break-word; /* Разрешаем перенос длинных слов */
    left: 350px ;
    font-size: 20px;
} 
.textgimn16
  { position: absolute;
    width: 540px; /* Ширина контейнера */
    top: 1220px;
    word-wrap: break-word; /* Разрешаем перенос длинных слов */
    left: 350px ;
    font-size: 20px;
} 
.textgimn17
  { position: absolute;
    width: 540px; /* Ширина контейнера */
    top: 1250px;
    word-wrap: break-word; /* Разрешаем перенос длинных слов */
    left: 350px ;
    font-size: 20px;
} 
.textgimn18
  { position: absolute;
    width: 540px; /* Ширина контейнера */
    top: 1280px;
    word-wrap: break-word; /* Разрешаем перенос длинных слов */
    left: 350px ;
    font-size: 20px;
} 

.textgimn19
  { position: absolute;
    width: 540px; /* Ширина контейнера */
    top: 1370px;
    word-wrap: break-word; /* Разрешаем перенос длинных слов */
    left: 350px ;
    font-size: 20px;
} 
.textgimn20
  { position: absolute;
    width: 540px; /* Ширина контейнера */
    top: 1460px;
    word-wrap: break-word; /* Разрешаем перенос длинных слов */
    left: 350px ;
    font-size: 20px;
} 
.textgimn21
  { position: absolute;
    width: 540px; /* Ширина контейнера */
    top: 1490px;
    word-wrap: break-word; /* Разрешаем перенос длинных слов */
    left: 350px ;
    font-size: 20px;
} 
.textgimn22
  { position: absolute;
    width: 540px; /* Ширина контейнера */
    top: 1520px;
    word-wrap: break-word; /* Разрешаем перенос длинных слов */
    left: 350px ;
    font-size: 20px;
} 
.textgimn23
  { position: absolute;
    width: 540px; /* Ширина контейнера */
    top: 1550px;
    word-wrap: break-word; /* Разрешаем перенос длинных слов */
    left: 350px ;
    font-size: 20px;
} 